-- 平台信息表
CREATE TABLE platforms (
    id INT PRIMARY KEY AUTO_INCREMENT COMMENT '平台ID，自增主键',
    code VARCHAR(20) NOT NULL UNIQUE COMMENT '平台代码，唯一标识',
    name VARCHAR(50) NOT NULL COMMENT '平台中文名称',
    icon VARCHAR(10) COMMENT '平台图标标识(可选)',
    enabled BOOLEAN NOT NULL DEFAULT TRUE COMMENT '是否启用采集(1启用/0禁用)',
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '记录创建时间',
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '记录最后更新时间'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='热榜平台基本信息表';

-- 热点话题表
CREATE TABLE hot_topics (
    id BIGINT PRIMARY KEY AUTO_INCREMENT COMMENT '话题ID，自增主键',
    platform_id INT NOT NULL COMMENT '关联平台ID',
    title VARCHAR(500) NOT NULL COMMENT '话题标题(截断处理过)',
    `rank` INT NOT NULL COMMENT '话题在当前平台的排名',
    heat_value INT COMMENT '热度数值',
    url VARCHAR(1000) COMMENT '话题原始URL',
    hash_id VARCHAR(32) NOT NULL UNIQUE COMMENT '标题+平台的MD5哈希值(用于去重)',
    category VARCHAR(20) COMMENT '话题分类',
    first_seen_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '首次出现时间',
    last_seen_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '最后出现时间',
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '记录创建时间',
    updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '记录最后更新时间',
    FOREIGN KEY (platform_id) REFERENCES platforms(id),
    INDEX idx_platform_rank (platform_id, `rank`) COMMENT '平台+排名的联合索引',
    INDEX idx_category (category) COMMENT '分类索引',
    INDEX idx_first_seen (first_seen_at) COMMENT '首次出现时间索引',
    INDEX idx_last_seen (last_seen_at) COMMENT '最后出现时间索引'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='热点话题数据表';

-- 话题标签表
CREATE TABLE topic_tags (
    id BIGINT PRIMARY KEY AUTO_INCREMENT COMMENT '标签ID，自增主键',
    topic_id BIGINT NOT NULL COMMENT '关联话题ID',
    tag_name VARCHAR(20) NOT NULL COMMENT '标签内容',
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '记录创建时间',
    FOREIGN KEY (topic_id) REFERENCES hot_topics(id),
    INDEX idx_topic_tag (topic_id, tag_name) COMMENT '话题+标签的联合索引'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='话题标签关联表';

-- 采集日志表
CREATE TABLE collection_logs (
    id BIGINT PRIMARY KEY AUTO_INCREMENT COMMENT '日志ID，自增主键',
    platform_id INT NOT NULL COMMENT '关联平台ID',
    status ENUM('success', 'failed', 'partial') NOT NULL COMMENT '采集状态(成功/失败/部分成功)',
    total_count INT NOT NULL DEFAULT 0 COMMENT '本次采集总记录数',
    success_count INT NOT NULL DEFAULT 0 COMMENT '成功保存数',
    error_count INT NOT NULL DEFAULT 0 COMMENT '错误数',
    duplicate_count INT NOT NULL DEFAULT 0 COMMENT '重复未保存数',
    error_message TEXT COMMENT '错误详情',
    start_time TIMESTAMP NOT NULL COMMENT '采集开始时间',
    end_time TIMESTAMP NOT NULL COMMENT '采集结束时间',
    created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '记录创建时间',
    FOREIGN KEY (platform_id) REFERENCES platforms(id),
    INDEX idx_platform_time (platform_id, start_time) COMMENT '平台+时间的联合索引',
    INDEX idx_status (status) COMMENT '状态索引'
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='采集任务日志表';